/* Configurações gerais */
body {
    background-color: rgb(182, 132, 230);
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Menu Sanduíche */
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px;
    top: 250px; /* Define a distância do topo da página */
  }
  
  .menu-btn {
    font-size: 24px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    padding: 10px;
  }
  
  .menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; /* Escondido por padrão */
  }
  
  .menu-list li {
    padding: 10px;
    text-align: left;
  }
  
  .menu-list a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .menu-list img {
    width: 20px;
    height: 20px;
  }
  